@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}
@keyframes dropDownItemsAnimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
