$text-color: rgb(255, 255, 255);
$main-color: #5d737e;
$secondary-color: #b3d1ae;
$third-color: #daffef;
$black-color: rgb(15, 13, 13);
$light-blue-gradient: linear-gradient(45deg, $secondary-color, $text-color);
$section-secondary: #333d29;
$first-card-color: #ccd5ae;
$second-card-color: #faedcd;
$third-card-color: #e9edc9;
$fourth-card-color: #d4a373;
